<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li role='presentation' name='home' class="active"><a href="/home">Home</a></li>
                <li role='presentation' name='blog'><a href="/blog">Blog</a></li>
                <li role='presentation' name='game'><a href="#">Game</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="navbar-right">
                <% if (user) { %>
                    <li class="dropdown" id="navbar-user">
                        <img class="avatar" width="40" height="40" src="/img/blogIcon.jpg" alt="avatar">
                        <ul class="dropdown-menu">
                            <li><a class="text-center" href="/logout">登出</a></li>
                            <li><a class="text-center" href="#">设置</a></li>
                        </ul>
                    </li>
                <% } else { %>
                    <li><a href="/login">登录</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<script>
        var page = '<%= page %>', // 当前页面
            chosenLi = document.querySelector('li[name=' + page + ']'),
            activeLi = document.querySelector('li.active'),
            user = document.querySelector('#navbar-user');
        activeLi === chosenLi || (activeLi.className = '');
        chosenLi.className || (chosenLi.className = 'active');
        if (user) {
            user.onmouseenter = function() {
                user.querySelector('.dropdown-menu').style.display = 'block';
            }
            user.onmouseleave = function() {
                user.querySelector('.dropdown-menu').style.display = 'none';
            }
        }

</script>