<div class="nav">
    <ul class="nav nav-pills">
        <li role='presentation' class="active"><a href="#">Home</a></li>
        <li role='presentation'><a href="#">Blog</a></li>
        <li role='presentation'><a href="#">Game</a></li>
        <div class="pull-right user-info">
            <% if (user) { %>
                <div class="user-name pull-left">
                    <p>welcome <%= user %></p>
                </div>
                <div class="avatar nav-user pull-left">
                    <img src="/img/blogIcon.jpg" alt="avatar" width="40" height="40">
                    <ul class="user-option list-group hide">
                        <li class="list-group-item text-center">
                            <a href="/logout">logout</a>
                        </li>
                        <li class="list-group-item text-center">
                            <a href="#">setting</a>
                        </li>
                    </ul> 
                </div>
            <% } else { %>
                <div class="pull-left">
                    <a href="/login">login</a>
                </div>
            <% } %>  
        </div>
    </ul>
</div>

<script>
    document.querySelector('.nav-user').onmouseover = function() {
        var target = document.querySelector('.user-option');
        var classname = target.className.split(' ');
        classname.splice(-1);
        target.className = classname.join(' ');
    }
    document.querySelector('.nav-user').onmouseout = function() {
        var target = document.querySelector('.user-option');
        var classname = target.className.split(' ');
        classname.push('hide');
        target.className = classname.join(' ');
    }
</script>