/* 
* @Author: blankmanp
* @Date:   2016-02-16 17:03:41
* @Last Modified by:   blankmanp
* @Last Modified time: 2016-02-18 13:56:20
*/

* {
    position: relative;
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Shadows Into Light Two';
    background-color: #eee;
}
.nav {
    background: white;
    height: 45px;
}
.nav>ul {
    width: 1080px;
    height: 100%;
    margin: auto;
}
.nav>ul>li, .nav>ul>li>a {
    height: 100%;
}
.nav>ul>li>a {
    line-height: 25px;
}
.nav div {
    height: 100%;
}
.nav .user-info>div {
    line-height: 45px;
    margin-right: 10px;
}
.avatar>img {
    cursor: pointer;
    border-radius: 50%;
}

.user-option {
    position: absolute;
    width: 100px;
    left: -30px;
}
.user-option li {
    padding: 0;
}
